<form 
action=" {{ form_action }}" 
method="POST" 
>
    {% csrf_token %}

    {% for field in form %}
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group input-group-outline is-filled">
          <label for="{{field.id_for_label}}" class="form-label">{{field.label}} </label>
          {{ field }}
          {% if field.help_text %}
            <p class="help-text text-danger fw-bold ">
              {{ field.help_text }}
            </p>
          {% endif %}
          {{ field.errors }}
        </div>
      </div>
    {% endfor %}

    {% if form.non_field_errors %}
      {% for non_field_errors in form.non_field_errors %}
          {{ non_field_errors }}
      {% endfor %}
    {% endif %}
    <input class="btn bg-gradient-primary_jsom w-100 mb-5 fs-5 fw-semibold" type="submit"></input>
  </form> 