{% extends "global/base.html" %}
{% block corpo %}
<div class="container m-4">
    <h1 class="text-center mb-2">{{ site_title }}</h1>    `
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-3">
        <a class="nav-link fs-5 active" aria-current="page" href=" {% url "JSOM_SGA:register" %} ">
            <button class="btn text-white fw-semibold icon-link icon-link-hover shadow-big" style="background-color: #7A0701; --bs-icon-link-transform: translate3d(0, -.125rem, 0);">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                </svg>
                Cadastrar novo usuário
            </button>
        </a>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for userProfile in users %}
        <div class="col ">
            <div class="card h-100 shadow-big ">
                <div class="card-body bg-jsom-claro rounded-2" style="background-color: #420e01 !important; !important;
                color: #ffffff !important;" >
                    <h5 class="card-title">{{ userProfile.user.username }}</h5>
                    <h6 class="card-subtitle mb-2">{{ userProfile.user.first_name }} {{ userProfile.user.last_name }}</h6>
                    <a href="{% url 'JSOM_SGA:perfil_aluno_admin' userProfile.user.id %}" class="card-link link-jsom">Ver perfil</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock corpo %}
