{% extends "global/base.html" %}

{% block corpo %}
    <section class="d-flex flex-column align-items-center ">
        
        <form role="form" class="text-start w-lg-50 w-100" action=" {{ form_action }}" method="POST" >
            <h3 class="font-weight-bolder mb-0 fs-3">{{ site_title }} 
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-person-fill-add opacity-10" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                </svg>
            </h3>
            {% csrf_token %}
            <div class="text-center mt-4">
                {% for field in form %}

                    <p class="help-text text-white fw-bold ">
                        {{ field.errors }}
                    </p>

                    <div class=" d-flex align-items-center">
                        <div class="input-group input-group-outline ">
                            <label for="{{field.id_for_label}}" class="form-label">{{field.label}} </label>
                            
                            {% if field.help_text %}
                                {{ field.help_text }}
                            {% endif %}
                            {{ field }}
                        </div>
                    </div>

                {% endfor %}
                {% if form.non_field_errors %}
                    {% for non_field_errors in form.non_field_errors %}
                    <br>
                    <p class="help-text text-danger fw-bold text-white">
                        {{ non_field_errors }}
                    </p>
                    {% endfor %}
                {% endif %}
                <button type="submit" class="btn bg-gradient-primary_jsom w-100 mb-2 fs-6">Cadastra</button>
            </div>
        </form>
    </section>
{% endblock corpo %}