ascii-magic==2.3.0
asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
Django==4.2.7
django-crispy-forms==2.1
idna==3.6
numpy==1.26.1
opencv-python==4.8.1.78
Pillow==10.1.0
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.1.0