{% extends "global/base.html" %}
{% load static %}
{% block corpo %}

<div class="container mb-3 mt-4">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="card" data-animation="true">
            <div class="mt-3 mx-3 z-index-2 d-flex justify-content-center ">
                {% if treino.imagem %}
                    <a class="d-block blur-shadow-image">
                        <img src="{{ treino.imagem.url }}" alt="img-blur-shadow {{ treino.nome }}" class="img-fluid shadow rounded-3 p-3 bg-light">
                    </a>
                {% else %}
                    <a class="d-block blur-shadow-image">
                        <img src="{% static "img/treino_padao.png" %}" alt="img-blur-shadow {{ treino.nome }}" class="img-fluid shadow rounded-3 p-3 bg-light">
                    </a>
                {% endif %}
            </div>
            <div class="card-body text-center">
              <h5 class="font-weight-normal mt-3 text-primary_jsom fs-3 font-weight-bolder">
                {{ treino.nome }}
              </h5>
              <p class="mb-0">
                {{ treino.descricao }}
              </p>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer d-flex">
                <p class="font-weight-bolder my-auto text-primary_jsom" data-bs-toggle="tooltip" data-bs-placement="top" title="Categoria">
                    {{ treino.categoria }}
                </p>
                <p class="text-sm my-auto position-relative ms-auto text-primary_jsom font-weight-bolder" data-bs-toggle="tooltip" data-bs-placement="top" title="Aluno desse treino">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-person-fill opacity-10" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    {{treino.owner}}
                </p>
            </div>
          </div>
      </div>
    </div>
</div>

{% endblock corpo %}