.min-vh-85{
  min-height: 85vh;
}
.h-vh-10{
  height: 10vh;
}

.shadow-big {
  box-shadow: 0px 0px 45px #b3b3b3 !important;
}

.w-5{
    width: 15vh !important;
}

.link-jsom {
    color: #f45038  !important;
}

.link-jsom:hover {
    transition: 0.5s ease-in-out;
    color: #9e1500  !important;
    font: 600;
}

.text-jsom{
    color:  #f45038;
}

.text-jsom-escuro{
    color:  #7c1100;
}

.alert-jsom{
    border-color: #f45038;
}

.bg-jsom{
    background-color: #F45038;
    color: #212529;
}

.bg-jsom-claro{
    background-color: #420e01 !important;
    color: #ffffff !important;
}

.btn-outline-jsom{
    border-color: #f45038;
}

.btn-outline-jsom:hover{
    background-color: #f45038;
}

.border-jsom{
    border:solid #f45038 1.5px;   
}
.border-jsom:focus{
    border:solid #f45038 1.5px; 
}
.border-jsom-claro{
    border:solid #6b0e0049 1.5px !important;   
}
.border-jsom-claro:focus{
    border:solid #6b0e009d 1.5px !important; 
}

.border-jsom-accordion{
    border:solid #966b6450 1.5px !important;   
}

.overflow-wrap-break-word {
    overflow-wrap: break-word;
}

/* Estilo padrão para largura 60% */
.w-60 {
    width: 60% !important;
}

.link-jsom-subtle{
    color: #b91900;
    font-weight: 600;
    text-decoration: none;
}
.link-jsom-subtle:hover{
    color: #b91900;
    text-decoration: underline;
    transition: 1.5s;
}

/* Adiciona estilo quando a largura da tela for menor que 768px */
@media (max-width: 768px) {
    .w-60 {
        width: 80% !important; /* Ajuste a largura conforme necessário para telas menores */
    }
}

/* Adiciona estilo quando a largura da tela for menor que 576px */
@media (max-width: 576px) {
    .w-60 {
        width: 100% !important; /* Ajuste a largura conforme necessário para telas ainda menores */
    }
}


/*butão de acordeon*/

.accordion-button-jsom {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: #460e00;
    text-align: left;
    background-color: #fadad5;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
  }
  @media (prefers-reduced-motion: reduce) {
    .accordion-button-jsom {
      transition: none;
    }
  }
  .accordion-button-jsom:not(.collapsed) {
    color: #460e00;
    background-color: rgb(250, 194, 185);
  }
  .accordion-button-jsom:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform);
  }
  .accordion-button-jsom::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
  }
  @media (prefers-reduced-motion: reduce) {
    .accordion-button-jsom::after {
      transition: none;
    }
  }
  .accordion-button-jsom:hover {
    z-index: 2;
  }
  .accordion-button-jsom:focus {
    z-index: 3;
    border-color: #460e00;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 121, 98, 0.25);
  }

  .form-check-input{
    border: 0.5px solid #460e00 !important;
  }

  .form-check-input:focus {
    border-color: #fe8a86;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
  }
  .form-check-input:checked {
    background-color: #f45038;
    border-color: #f45038;
  }

  .icon-link>.bi {
    width: 1.9em !important;
    height: 1.9em !important;
}

/* alto complete dos inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
  -webkit-box-shadow: 0 0 0px 1000px #00000000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* Cofiguração do template do bootstrap*/

.bg-gradient-primary_jsom {
  background-image: linear-gradient(195deg, #ec442a 0%, #c53019 100%);
}

.btn-primary_jsom,
.btn.bg-gradient-primary_jsom {
  color: #fff;
}

.btn-primary_jsom:hover,
.btn.bg-gradient-primary_jsom:hover {
  color: #fff;
}

.btn-primary_jsom,
.btn.bg-gradient-primary_jsom {
  box-shadow: 0 3px 3px 0 rgba(233, 61, 30, 0.15), 0 3px 1px -2px rgba(233, 88, 30, 0.2), 0 1px 5px 0 rgba(233, 88, 30, 0.15);
}

.btn-primary_jsom:hover,
.btn.bg-gradient-primary_jsom:hover {
  border-color: #ec442a;
  border-color: #ec442a;
  box-shadow: 0 14px 26px -12px rgba(233, 77, 30, 0.4), 0 4px 23px 0 rgba(233, 88, 30, 0.15), 0 8px 10px -5px rgba(233, 71, 30, 0.2);
}

.btn-primary_jsom .btn.bg-outline-primary_jsom,
.btn.bg-gradient-primary_jsom .btn.bg-outline-primary_jsom {
  border: 1px solid #ec442a;
}

.btn-primary_jsom:not(:disabled):not(.disabled).active,
.btn-primary_jsom:not(:disabled):not(.disabled):active,
.show>.btn-primary_jsom.dropdown-toggle,
.btn.bg-gradient-primary_jsom:not(:disabled):not(.disabled).active,
.btn.bg-gradient-primary_jsom:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-primary_jsom.dropdown-toggle {
  color: color-yiq(#ec442a);
  background-color: #ec442a;
}

.btn-primary_jsom.focus,
.btn-primary_jsom:focus,
.btn.bg-gradient-primary_jsom.focus,
.btn.bg-gradient-primary_jsom:focus {
  color: #fff;
}

.navbar-vertical .navbar-brand>img, .navbar-vertical .navbar-brand-img {
  max-width: 7.5rem !important;
  max-height: 3rem !important ;
}

.fs-7 {
  font-size: 0.9rem !important;
}

.text-branco-50 {
  color: rgba(255, 255, 255, 0.637) !important;
}

.card-hover_dark {
  transition: all 0.3s ease;
}

.card-hover_dark:hover {
  box-shadow: 0 14px 26px -12px rgba(52, 71, 103, 0.4), 0 4px 23px 0 rgba(52, 71, 103, 0.15), 0 8px 10px -5px rgba(52, 71, 103, 0.2);
}

.card-hover_jsom {
  transition: all 0.3s ease;
}

.card-hover_jsom:hover {
  box-shadow: 0 14px 26px -12px rgba(52, 71, 103, 0.4), 0 4px 23px 0 rgba(52, 71, 103, 0.15), 0 8px 10px -5px rgba(52, 71, 103, 0.2);
}

.dark-version .card-hover_dark {
  transition: all 0.3s ease;
}
.dark-version .card-hover_dark:hover {
  box-shadow: 0 14px 26px -12px rgba(44, 63, 95, 0.952), 0 4px 23px 0 rgba(52, 71, 103, 0.15), 0 8px 10px -5px rgba(52, 71, 103, 0.2);
}

.dark-version .card-hover_jsom {
  transition: all 0.3s ease;
}
.dark-version .card-hover_jsom:hover {
  box-shadow: 0 14px 26px -12px rgba(253, 59, 0, 0.877), 0 4px 23px 0 rgba(103, 64, 52, 0.15), 0 8px 10px -5px rgba(103, 62, 52, 0.2);
}

.input-group.input-group-outline.is-focused .form-label+.form-control, .input-group.input-group-outline.is-filled .form-label+.form-control {
  border-color: #ec442a !important;
  border-top-color: transparent !important;
  box-shadow: inset 1px 0 #ec442a, inset -1px 0 #ec442a, inset 0 -1px #ec442a !important;
}

.input-group.input-group-outline.is-focused .form-label,
.input-group.input-group-outline.is-filled .form-label {
  width: 100%;
  height: 100%;
  font-size: 0.6875rem !important;
  color: #ec442a !important;
  display: flex;
  line-height: 1.25 !important;
}
.input-group.input-group-outline.is-focused .form-label:before,
.input-group.input-group-outline.is-focused .form-label:after,
.input-group.input-group-outline.is-filled .form-label:before,
.input-group.input-group-outline.is-filled .form-label:after {
  border-top-color: #ec442a !important;
  box-shadow: inset 0 1px #ec442a !important;
}

.shadow-primary_jsom {
  box-shadow: 0 4px 20px 0 rgba(133, 27, 0, 0.281), 0 7px 10px -3px rgba(233, 61, 30, 0.541) !important;
}
