{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% include "global/partials/head.html" %}
  <title> {{site_title}} - JSOM </title>
</head>

<body class="g-sidenav-show bg-gray-100">

  
  {% include "global/partials/aside.html" %} {% comment %} Incluindo Menu {% endcomment %}

  <main class="main-content border-radius-lg ">

    {% include "global/partials/navbar.html" %} {% comment %} Incluindo NavBar {% endcomment %}

    <div class="container-fluid py-4">

      <div class="row"> 
        <div class="w-100 position-relative z-index-2">
          <div class="card card-plain mb-4">
            <div class="card-body">
              <div class="row">
                <div class="d-flex-collumn w-100 ">
                  <div class="d-flex flex-column">
                    <h2 class="font-weight-bolder mb-0 fs-1">{{ site_title }}</h2>
                  </div>
                  {% block corpo %} <!-- body do site --> {% endblock corpo %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>

  {% include "global/partials/settings_page.html" %}

  <!--   Core JS Files   -->
  <script src="{% static "assets/js/core/popper.min.js" %}"></script>
  <script src="{% static "assets/js/core/bootstrap.min.js" %}"></script>
  <script src="{% static "assets/js/plugins/perfect-scrollbar.min.js" %}"></script>
  <script src="{% static "assets/js/plugins/smooth-scrollbar.min.js" %}"></script>

  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static "global/js/remove_class.js" %}"></script>
  <script src="{% static "assets/js/material-dashboard.js" %}"></script>

</body>
</html>