{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% include "global/partials/head.html" %}
  <title> {{site_title}} - JSOM </title>
  <link rel="shortcut icon" href="{% static "img/logo2_claro.png" %}" type="image/x-icon">
</head>
<body>

  <div class="container">
    {% include "global/partials/header.html" %} <!-- Menu do site -->
    <main class="w-100 d-flex justify-content-center h-auto min-vh-91 shadow-big my-3 rounded-4">
      {% block corpo %} <!-- body do site --> {% endblock corpo %}
    </main>
    
  </div>
  {% block scripts %}<!-- scripts personalizados -->{% endblock scripts %}
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</body>
</html>