{% load static %}
{% comment %} <header>
  <nav class="h-vh-10 navbar navbar-dark bg-dark fixed-top position-relative p-lg-3 shadow-big rounded-4 rounded-top-0">
    <div class="container-fluid">
      <div class="d-flex justify-content-between w-100">
        <a class="navbar-brand link-jsom link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover mx-lg-2 ms-2 fs-4" href=" {% url "JSOM_SGA:index" %}">
          <img
            src="{% static "img/logo3_claro.png" %}"
            class="w-5"
            alt="logo JSOM"
          />
        </a>
        <button class="navbar-toggler text-jsom" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
            <a class="navbar-brand link-jsom fs-4 " href=" {% url "JSOM_SGA:index" %} ">Treinos do            
              {% if user.is_staff %}
                <span class="fw-bold">ADM</span>
              {% else %}
                <span class="fw-bold">USER</span>
              {% endif %} 
              {{ user }}
            </a>
          </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mb-3">

            {% if user.is_authenticated %}
              {% if user.is_staff %}
                <li class="nav-item">
                  <a class="nav-link fs-5 active" aria-current="page" href=" {% url "JSOM_SGA:user_update" %} ">Atualizar Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-5 active" aria-current="page" href=" {% url "JSOM_SGA:lista_alunos" %} ">Lista de Alunos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-5 active" aria-current="page" href=" {% url "JSOM_SGA:register" %} ">Cadastrar Novo Aluno</a>
                </li> 
              {% endif %}
              {% if not user.is_staff %}
                <li class="nav-item">
                  <a class="nav-link fs-5 active" aria-current="page" href=" {% url "JSOM_SGA:perfil_aluno" user_id=request.user.id %} ">Perfil</a>
                </li>
              {% endif %}                                  
              <li class="nav-item">
                <a class="nav-link fs-5 active text-jsom" aria-current="page" href=" {% url "JSOM_SGA:logout" %} ">Sair</a>
              </li>
            {% else %}               
              <li class="nav-item">
                <a class="nav-link fs-5 active" aria-current="page" href=" {% url "JSOM_SGA:login" %} ">Fazer Login</a>
              </li>            
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header> {% endcomment %}

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark"
    id="sidenav-main">

    <div class="sidenav-header d-flex align-items-center justify-content-center">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0 p-0 w-100 h-100 d-flex align-items-center justify-content-center" href=" {% url "JSOM_SGA:index" %} ">
        <img src="{% static "img/logo3_claro.png" %}" class="navbar-brand-img h-100" alt="main_logo">
      </a>
    </div>

    <hr class="horizontal light mt-0 mb-2">

    <div class="collapse navbar-collapse w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          {% if user.is_staff %}
            <li class="nav-item">
              <a class="nav-link text-white " href="{% url "JSOM_SGA:lista_alunos" %}">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Lista de Alunos</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " href="{% url "JSOM_SGA:user_update" %}">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Atualizar Perfil</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " href="{% url "JSOM_SGA:register" %}">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Cadastrar Novo Aluno</span>
              </a>
            </li>
          {% endif %}
          {% if not user.is_staff %}
            <li class="nav-item">
              <a class="nav-link text-white " href="{% url "JSOM_SGA:perfil_aluno" user_id=request.user.id %}">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10"></i>
                </div>
                <span class="nav-link-text ms-1">Perfil</span>
              </a>
            </li> 
          {% endif %}
          <li class="nav-item">
            <a class="nav-link text-white " href="{% url "JSOM_SGA:logout" %}">
              <div class="text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">logout</i>
              </div>
              <span class="nav-link-text ms-1">Sign In</span>
            </a>
          </li>
        {% endif %}

      </ul>
    </div>
  </aside>