.w-5{
    width: 15vh !important;
}

.link-jsom {
    color: #f45038  !important;
}

.link-jsom:hover {
    transition: 0.5s ease-in-out;
    color: #9e1500  !important;
    font: 600;
}

.text-jsom{
    color:  #f45038;
}

.alert-jsom{
    border-color: #f45038;
}

.bg-jsom{
    background-color: #F45038;
    color: #212529;
}

.btn-outline-jsom{
    border-color: #f45038;
}
.btn-outline-jsom:hover{
    background-color: #f45038;
}

.border-jsom{
    border:solid #f45038 1.5px;   
}
.border-jsom:focus{
    border:solid #f45038 1.5px; 
}

.overflow-wrap-break-word {
    overflow-wrap: break-word;
}

/* Estilo padrão para largura 60% */
.w-60 {
    width: 60% !important;
}

.link-jsom-subtle{
    color: #b91900;
    font-weight: 600;
    text-decoration: none;
}
.link-jsom-subtle:hover{
    color: #b91900;
    text-decoration: underline;
    transition: 1.5s;
}

/* Adiciona estilo quando a largura da tela for menor que 768px */
@media (max-width: 768px) {
    .w-60 {
        width: 80% !important; /* Ajuste a largura conforme necessário para telas menores */
    }
}

/* Adiciona estilo quando a largura da tela for menor que 576px */
@media (max-width: 576px) {
    .w-60 {
        width: 100% !important; /* Ajuste a largura conforme necessário para telas ainda menores */
    }
}
