<form 
class="row g-3 d-flex flex-column align-items-center" 
action=" {{ form_action }}" 
method="POST" 
>
    {% csrf_token %}

    {% for field in form %}
      <div class="col-md-6">
        <div class="d-flex">
          <label for="{{field.id_for_label}}" class="form-label fw-bold text-shadow-big">{{field.label}} </label>
          {% if field.help_text %}
            <p class="help-text text-danger fw-bold ">
              {{ field.help_text }}
            </p>
          {% endif %}
        </div>
        {{ field }}
        {{ field.errors }}


      </div>     
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="form-content">
        <div class="form-group">
          {% for non_field_errors in form.non_field_errors %}
            <div class="message error">
              {{ non_field_errors }}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="col-md-6">
      <input class="btn btn-warning shadow-big w-100 mb-5 fs-5 fw-semibold" type="submit"></input>
    </div>
  </form> 